<% extend('../layouts/masters') %>
 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit <%= data.name %> </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"><%= __('admins.title') %> </a></li>
                    <li class="breadcrumb-item"><a href="#">Quản lý người dùng</a></li>
                    <li class="breadcrumb-item active"><%= __('publics.edit') %></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <form action="<%= `/admin/manage/users/${data.id}/update` %>" method="PUT" id="form-users" enctype="multipart/form-data">
        <%- include("template", {data: data}) %>
    </form>
</section>