<% extend('../layouts/masters') %>
 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><%= __('providers.shops.title') %></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"><%= __('providers.title') %></a></li>
                    <li class="breadcrumb-item"><a href="#"><%= __('providers.shops.title') %></a></li>
                    <li class="breadcrumb-item active"><%= __('publics.create') %></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <form action="/providers/products" method="post" id="form-basic-product" enctype="multipart/form-data">
        <%- include("template") %>
    </form>
</section>